
#heading {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

#content {
    display: flex;
    flex-direction: row;
}


#info-container {


    padding-top: 100px;
    background-color: lightgray;
    border-radius: 5px;
    border: 3px solid black;

    width: 50%;
    margin-left: 20px;
}

#bars-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    padding-top: 100px;
    background-color: lightgray;
    border-radius: 5px;
    border: 3px solid black;

    width: 50%;
    margin-left: 20px;
}

#bars-container div {
    width: 70px;
    margin: 2px;
    border-radius: 5px;
    border: 2px solid grey;
    background-color: skyblue;
}


#generate-bars-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: lightgray;
    cursor: pointer;
}


#buttons-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: lightgray;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
}

